@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@import "main.css";
@import "index.css";
@import "products.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply hover:opacity-80;
  }
}

@layer components {
  .btn {
    @apply px-3 py-1.5 text-white cursor-pointer;
  }
  .form-default {
    @apply bg-transparent border placeholder-opacity-10 focus:border-red focus:ring-1 focus:ring-red;
  }
  .cube {
    @apply w-6 h-6 rounded;
  }
}

@screen md {
  main {
    min-height: calc(100vh - 345px - 80px);
  }
  .banner {
    height: 787px;
  }
  .design {
    background: url("../images/index-bg.png") center center no-repeat;
  }
  .double {
    content: url("../images/home-section4-1.png");
  }
  .youth {
    content: url("../images/home-section4-2.png");
  }
  .header-1 {
    content: url("../images/product-header-1.png");
  }
  .header-2 {
    content: url("../images/product-header-2.png");
  }
  .header-3 {
    content: url("../images/product-header-3.png");
  }
  .header-4 {
    content: url("../images/product-header-4.png");
  }
}

@screen xl {
  .banner {
    background: url("../images/home-header.png") center center no-repeat;
    height: calc(100vh - 80px);
  }
}
