@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Roboto", "Noto Sans TC", system-ui, sans-serif;
  }
  a {
    @apply hover:opacity-80;
  }
}

@layer components {
  .btn {
    @apply px-3 py-1.5 text-white cursor-pointer;
  }
  .form-default {
    @apply bg-transparent border placeholder-opacity-10 focus:border-red focus:ring-1 focus:ring-red;
  }
  .cube {
    @apply w-6 h-6 rounded;
  }
  .page {
    @apply md:text-lg sm:px-4 p-3 border border-r-0 border-black hover:bg-neutral-100;
  }
  .page-active {
    @apply bg-black text-white;
  }
  .nav-tab {
    @apply font-medium text-black block pt-4 pb-2 md:text-3xl md:pt-6 md:pb-4 hover:border-b-red hover:border-b-8;
  }
  .nav-tab-active {
    @apply border-b-red border-b-8;
  }
}

@screen md {
  main {
    min-height: calc(100vh - 345px - 80px);
  }
  .double {
    content: url("../images/home-section4-1.png");
  }
  .youth {
    content: url("../images/home-section4-2.png");
  }
  .header-1 {
    content: url("../images/product-header-1.png");
  }
  .header-2 {
    content: url("../images/product-header-2.png");
  }
  .header-3 {
    content: url("../images/product-header-3.png");
  }
  .header-4 {
    content: url("../images/product-header-4.png");
  }
}
